# Python cache and bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Logs and temp files
*.log
*.tmp
*.swp

# System files
.DS_Store
Thumbs.db

# Jupyter/Streamlit cache
.ipynb_checkpoints/
.streamlit/

# Environment files
.env
